@import 'colors';

.wrapper {
  padding: 20px;
}

.button {
  line-height: 1.5;
  text-transform: uppercase;
  color: darken($gray, 10%);
  margin: 0 10px;
  cursor: pointer;

  &.active {
    color: $blue;
    font-weight: 600;
    border-bottom: 1px solid $blue;
  }
}
