@import 'colors';
@import 'devices';

.wrapper {
  display: flex;
  justify-content: center;

  @media #{$phone} {
    padding: 10px;
  }

  @media #{$desktop} {
    padding: 20px;
  }
}

.button {
  color: darken($gray, 10%);
  margin: 0 10px;

  &.active {
    color: $blue;
    font-weight: 600;
    border-bottom: 1px solid $blue;
  }
}
