@import 'colors';

.wrapper {
  padding: 20px;
}

.button {
  color: darken($gray, 10%);
  margin: 0 10px;

  &.active {
    color: $blue;
    font-weight: 600;
    border-bottom: 1px solid $blue;
  }
}
