@import 'colors';

.wrapper {
  display: grid;
  grid-template-columns: 80px 80px 30% repeat(6, 1fr);
  line-height: 2;
  text-transform: uppercase;
  color: darken($gray, 10%);
  font-size: 0.8em;
  position: sticky;
  top: 0;
  background-color: rgba($off-white, 0.8);

  .label {
    text-transform: uppercase;
    color: darken($gray, 10%);
    font-size: 0.8em;
  }
  .athlete {
    grid-column: 3;
  }

  .rank,
  .points {
    text-align: center;
  }
}
